*{
	font-family: Helvetica,Arial,sans-serif;
}
body{
	width:300px;
	background-color: #f2f2f2;
	height:320px;
}

form{
	padding-top: 30px;
}
input{
	width:240px;
	height:40px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid #c6c6c6;
	padding-left: 10px;
		font-size: 120%;
	font-weight: normal;
}
input:focus{
	outline:none;

}
.loginContainer img{
	padding-top: 40px;
	width:80px;
	margin-left:90px;
}

/* * * * * * *
 * 
 * Containers
 *
 * * * * * * */

#loginContainer, #setContainer{
	display:none;
	padding-left: 30px;
	padding-right: 30px;
}
#tagsContainer{
	padding-left: 30px;
	padding-right: 30px;
}

/* * * * * * *
 * 
 * Login IDs
 *
 * * * * * * */


#password{
	margin-top: -10px;
}
#divider{
	position: absolute;
	height:6px;
	width:251px;
	background-color: white;
	z-index: 10;
	border-bottom: 1px solid #c6c6c6;
	margin-top:-46px;
	margin-left: 1px;
}

#authButton{
	position:absolute;
	margin-top: 30px;
	width:253px;
	height:40px;
	border-radius: 5px;
	background-color: #529ecc;
	color:white;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	-webkit-transition: all 0.15s;
  cursor:pointer;
}
#authButton:hover{
	background-color: #4889aa;
}

/* * * * * * *
 * 
 * Tags IDs
 *
 * * * * * * */
 
#tagsHeader{
  height:30px;
  width:100%;
    margin-top: 20px;
  
}
#tagsHeader h1{
	font-size: 120%;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;

}

#addbutton{
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background-color: #529ecc;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	line-height: 20px;
	cursor:pointer;
}

#newTagInput{
	float: left;
	display:inline;
	height:18px;
	border-radius: 3px;
	width: 120px;
	font-size: 11px;
	border:none;
}

#tagsContent{
  height:220px;
  width:100%;
  margin-top:10px;
  overflow: scroll;
  overflow-x:hidden;
}
#settingButton,#backButton{
	position:absolute;
	bottom:20px;
	margin-left: 50px;
	width:140px;
	height:45px;
	border-radius: 5px;
	background-color: #529ecc;
	color:white;
	font-weight: bold;
	text-align: center;
	line-height: 45px;
	-webkit-transition: all 0.15s;
  cursor:pointer;
}
#settingButton:hover,#backButton:hover{
	background-color: #4889aa;
}

.tagcontainer{
	padding:5px;
	margin-bottom: 10px;

}
.tagtext{
	background-color: white;
	padding:5px;
	border-radius: 4px;
	margin:5px;

}
.tagtext img{
	width: 15px;
	padding-left: 5px;
	margin-bottom: -3px;
}
/* * * * * * *
 * 
 * Settings IDs
 *
 * * * * * * */
#setContainer input{
	display:inline;
	height:15px;
	width: 25px;
	margin-left:5px;
	margin-right: 5px;
	margin-top: 10px;/*
	-webkit-transform:translateY(5px);*/
	font-size: 12px;
	padding-left: 3px;
}
#settingHeader{
  height:30px;
  width:100%;
    margin-top: 20px;
  
}
#setContainer h1{
	font-size:120%;
	  padding: 0;
  margin: 0;
}
#setContainer div div{
	padding: 10px 0 10px 0; 
}
#setContainer h1{
	margin-bottom: 0px;
}
#slider{
	margin-top: 10px;
	width:40px;
	height:4px;
	background-color: white;
	border-radius:15px;
	display: inline-block;
}
#slider span{
	position: absolute;
	-webkit-transform:translate(50px,-5px);
}
#knob{
	position: absolute;
	width:20px;
	height:0px;
	border-radius: 10px;
	background-color: #c6c6c6;
	margin-top:-8px;
	margin-left:2px;/*
	-webkit-transition:all 0.15s;*/
	/*
	-webkit-transfrom:translateY(-5px);*/
}
#backButton{
	padding-top: 0px;
	padding-bottom: 0px;
}
 
/**********SCROLLBAR********/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(155,155,155,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}